/*---------- Modal ----------*/
.xtra-modal {}
.xtra-modal-content {
    min-width: 300px;
    min-height: 150px;
}

/*---------- Navigation ----------*/
.xtra-navigation-group {
  svg.collapsed {
    display: none;
  }
  &.collapsed {
    svg.collapsed {
      display: inline-block;
    }
    svg.expanded {
      display: none;
    }
  }
}
.xtra-navigation-list {
  &.collapsed {
    display: none;
  }
}

/*---------- Tooltip ----------*/
.tippy-content {
    font-size: 13px;
    line-height: 1.3em;
}
[data-tippy-content] {
  cursor: default;
}
